#Javascript Start
snippet impd "import default" b
import ${2:<default variable>} from '${1:<package>}'
$0
endsnippet
snippet imp "import { } from 'lib'"  b
import {${2:<variable>}} from '${1:<package>}'
$0
endsnippet
snippet pesudoComment "Pesudo code Comment" b
/* pesudo comment
* $1
*/
endsnippet
snippet clr "console error" b
console.error(${1:error});
endsnippet
#Javascript End

