#React Start
snippet rfc "react function component" b
import React from 'react'

const ${1:<Component Name>}=(${2:<props>})=>{

	return (
		<>
			<div>
				$0
			</div>
		</>
	)
}

export default $1;
endsnippet
#React End

